/*
#################################################
 Base File with miscellaneous styles such as fonts
#################################################
*/




/* typography */

a:link, a:visited {
color: #B93242;
text-decoration: none;
}

body {
  font: 300 13px/20px 'Open Sans', sans-serif 600;
  color: #555;
  background-color: #fff;
  -webkit-font-smoothing: subpixel-antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  color: #222;
  font-weight: 600;
  line-height: 1.2em;
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.8em;
  text-transform: uppercase;
}
h3 {
  font-size: 1.6em;
}
h4 {
  font-size: 1.2em;
}
h5 {
  font-size: 1em;
}
h6 {
  font-size: 0.8em;
}
p {
  margin: 0;
  font: 300 14px/22px 'Open Sans', sans-serif;
}


.entry,
.entry p {
  color: #555555;
  font: 300 15px/1.5em "Helvetica Neue", Helvetica, sans-serif;
}


.widget h3 {
  margin: 0 0 0.8em 0;
  padding: 0 0 0.8em;
  font: normal bold 14px 'Open Sans', sans-serif;
  color: #555;
  border-bottom: 1px solid #e6e6e6;
}
.widget p {
  font: 300 13px/20px "Helvetica Neue", Helvetica, sans-serif;
  margin-bottom: 15px;
}
