/*
#################################################
 Headings
#################################################
*/



/* Page Title */


.page-title,
.post .title,
.page .title {
  font: normal bold 28px/1.2em "Helvetica Neue", Helvetica, Arial sans-serif;
  margin: 0 0 0.5em;
}
.post .title a:link,
.post .title a:visited,
.page .title a:link,
.page .title a:visited {
  color: #222;
}
.post-meta {
  margin: 0 0 1.8em 0;
  font: 1em/1em sans-serif;
  color: #999;
  font: 300 12px/18px 'Open Sans', sans-serif;
}
